# Dependencies
node_modules/
vendor/

# Expo
.expo/
dist/
web-build/

# Native
ios/Pods/
ios/build/
android/app/build/
android/build/
*.orig.*
*.xcuserstate
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment variables
.env
.env.local
.env.*.local

# macOS
.DS_Store
*.pem

# Local files
*.local

# TypeScript
*.tsbuildinfo

# Firebase
google-services.json
GoogleService-Info.plist
